.container {
  margin: auto;
  width: 1200px;
}

.title {
  text-transform: uppercase;
  font-size: 42px;
  margin-top: 30px;
  border-bottom: 1px solid #000;
}

.header {
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 30px 0px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  transition: all .2s ease 0s;
}

.nav-link:hover {
  text-decoration: underline;
  transition: all .2s ease 0s;

}

.list-news {
  margin: 30px 0;
}

.title-news {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin-top: 5px;
}

.story {
  padding: 50px 100px;
  border: 2px solid #ccc;
  margin: 50px 0;
}

.story-title {
  font-size: 32px;
  text-transform: uppercase;

}

.story-content {
  font-size: 19px;
  margin: 20px 0 50px 0;
}


.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20vh auto 0 auto;
  flex-direction: column;
  width: 400px;
  height: 240px;
  background-color: #15141f;
  border-radius: 6px;
  padding: 30px 10px;
  box-shadow: 10px -15px 20px #cccccc5e;

}

.input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
}


.sign-out {
  background-color: #eee;
  margin-top: 20px;
}

.sign-in {
  background-color: darkblue;
  color: #fff;
  text-decoration: none;


}

.btn {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: 600;
  cursor: pointer;

}

.user {
  font-size: 20px;

}


.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 10%;
  color: #fff;
  text-decoration: none;


}

.profile {
  color: inherit;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
  background-color: palevioletred;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.profile-img {
  background-color: palevioletred;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250px;
  font-weight: 600;
  color: #fff;

}

.profile-title {
  margin-bottom: 8px;
  font-size: 28px;
}

.profile-subtitle {
  font-size: 22px;
  margin: 20px 0 8px 0;
}


.profile-info {
  width: 550px;
}



.profile-items {
  width: 350px;
  font-size: 15px;
}

.profile-item {
  margin-left: 20px;
}

.article-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.article {
  margin: 20px 0;
  border: 2px dashed #000
}



.active {
  color: rgb(102, 81, 224);

}